* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  font-family: 'Raleway', sans-serif;
  justify-content: center;
  align-items: center;
  background: rgb(252, 226, 0);
}

.main-box {
  display: flex;
  justify-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 5px;
  animation: fade-in 0.2s ease-in;
}

.room-box {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 5px;
  animation: fade-in 0.2s ease-in;
  background-color: white;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.username-box,
.username-box-mobile {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 5px;
  animation: fade-in 0.2s ease-in;
  background-color: rgb(66, 54, 48);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.username-box-mobile {
  border-radius: 0px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.left,
.left-mobile {
  max-width: 80px;
  min-width: 80px;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.left-mobile {
  border-radius: 0px;
}

.profile {
  position: fixed;
  top: 70px;
  color: rgb(242, 217, 0);
  font-size: 24px;
  left: 30px;
}

.signout {
  position: fixed;
  bottom: 10px;
  color: lightgray;
  font-size: 24px;
  left: 30px;
}

.minimized {
  max-width: 80px;
  min-width: 80px;
  height: 100%;
  border-radius: 5px;
  /* background-color: rgb(66, 54, 48); */
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.bg-white {
  background-color: white;
}

.bg-brown {
  background-color: rgb(66, 54, 48);
}

.top-box {
  width: 100%;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.top {
  max-width: 80px;
  min-width: 80px;
}

.top-body {
  display: flex;
  flex-direction: row;
}

.back-btn {
  font-size: 28px;
  margin: 0px 20px 10px 20px;
  color: gray;
}

.top-profile-box {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 38px;
  padding-top: 3px;
  color: rgb(203, 214, 242);
  background-color: rgb(161, 182, 233);
  border-radius: 40%;
  margin: 10px;
}

.chatroom-title {
  padding-left: 10px;
  padding-top: 13px;
  font-weight: 500;
}

.chatroom-title-mobile {
  width: 70%;
  justify-self: center;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.chatroom-number {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 10px;
  color: rgb(125, 125, 125);
}

.chatroom-number-mobile {
  font-size: 10px;
  color: rgb(125, 125, 125);
}

.room-chat-main-box {
  /* background-color: rgb(189, 209, 220); */
  overflow-y: scroll;
}

.room-chat-input-box,
.room-chat-input-box-mobile {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  display: flex;
}

.room-chat-input-box-mobile {
  height: 50px;
  background-color: rgb(189, 209, 220);
  border-radius: 0px;
}

.room-chat-input,
.room-chat-input-mobile {
  width: 88%;
  height: 100%;
  border: none;
  resize: none;
  padding: 5px;
  outline: none;
}

.room-chat-input-mobile {
  border-radius: 15px;
  padding: 10px;
}

.send-btn {
  float: right;
  width: 75px;
  height: 75px;
  /* background-color: rgb(255, 229, 0); */
  border: 1px solid rgb(242, 217, 0);
  border-radius: 3px;
}

.send-btn-mobile {
  float: right;
  width: 70px;
  height: 30px;
  /* background-color: rgb(255, 229, 0); */
  border: 1px solid rgb(242, 217, 0);
  border-radius: 15px;
}

.send-btn:hover {
  background-color: rgb(241, 231, 134);
}

.send-btn:focus {
  outline: none;
}

.minimized-box {
  width: 80px;
  height: 22px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.closed-box {
  width: 40px;
  height: 40px;
  color: rgb(242, 217, 0);
  border-radius: 50%;
  font-size: 24px;
  padding-top: 7px;
  text-align: center;
}

.main-chat,
.main-chat-mobile {
  cursor: default;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.main-chat-mobile {
  border-radius: 0px;
}

.room-main {
  cursor: default;
  width: 100%;
  height: 86%;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  background-color: rgb(189, 209, 220);
  /* box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1); */
}

.participants-count {
  font-size: 12px;
  color: gray;
  font-weight: 300;
  padding-left: 5px;
}

.participants-count-mobile {
  font-size: 16px;
  color: gray;
  font-weight: 300;
  padding-left: 10px;
}

.chat-head {
  margin: 13px;
  color: rgb(66, 54, 48);
  height: 30px;
}

.chat-head-title {
  float: left;
  font-weight: 800;
  font-size: 18px;
}

.chat-head-bubble {
  float: right;
  font-size: 24px;
}

.chat-main-body {
  margin: 5px;
  color: rgb(66, 54, 48);
  height: 90%;
  overflow: scroll;
}

.chat-room-row {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.circle-menu {
  width: 100%;
  height: 20px;
}

.top-menu {
  width: 100%;
}

.circle-menu-box {
  cursor: default;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: space-between;
  padding: 0px 3px;
}

.circle-menu-box > i {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  margin: auto;
  padding-right: 0.3px;
  padding-top: 1px;
}

.circle-menu-box > i:hover {
  color: black;
}

.close {
  color: rgb(255, 97, 89);
  background-color: rgb(255, 97, 89);
}

.minimize {
  color: rgb(255, 192, 47);
  background-color: rgb(255, 192, 47);
}

.expand {
  color: rgb(37, 204, 62);
  background-color: rgb(37, 204, 62);
}

.profile-icon {
  color: rgb(203, 214, 242);
  background-color: rgb(160, 182, 233);
  border-radius: 30%;
  width: 40px;
  height: 40px;
}

.icon-box {
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 22px;
  padding-top: 5px;
  color: rgb(203, 214, 242);
  background-color: rgb(161, 182, 233);
  border-radius: 40%;
  margin: 7px;
}

.room-name {
  padding-left: 5px;
  padding-top: 10px;
  width: 60%;
  /* max-width: 170px; */
  font-size: 14px;
  font-weight: 600;
  overflow-x: hidden;
}

.room-date {
  text-align: right;
  color: rgb(173, 173, 173);
  font-size: 12px;
  padding-top: 7px;
}

.omega-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: rgb(66, 54, 48);
  font-size: 12px;
}

.enter-username-box {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 14px;
}

.chat-bubble {
  margin-top: 25%;
  color: rgb(255, 229, 0);
  font-size: 100px;
}

.enter-username-input-box {
  margin-top: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.enter-username-input {
  width: 90%;
  height: 35px;
  background-color: transparent;
  border: 1px solid rgb(255, 229, 0);
  border-radius: 5px;
  color: rgb(255, 192, 47);
  text-align: center;
}

.enter-username-input:hover {
  border: 1px solid rgb(255, 192, 47);
}

.enter-username-input:focus {
  outline: none;
}

.username-btn {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 7%;
}

.username-enter-btn,
.username-cancel-btn {
  width: 100px;
  border-radius: 5px;
  border: none;
  height: 30px;
  color: rgb(66, 54, 48);
}

.username-enter-btn:focus,
.username-cancel-btn:focus {
  outline: none;
}

.username-enter-btn {
  background-color: rgb(255, 229, 0);
}

.username-enter-btn:hover {
  background-color: rgb(255, 192, 47);
}

.username-cancel-btn {
  background-color: lightgrey;
}

.username-cancel-btn:hover {
  background-color: grey;
}

.message-row-me {
  display: flex;
  flex-direction: row-reverse;
}
.message-row-other {
  display: flex;
  flex-direction: row;
}
.message-content-me,
.message-content-other {
  font-size: 14px;
  padding: 3px 7px 3px 7px;
  border-radius: 3px;
  box-shadow: 1px 1px rgba(10, 10, 10, 0.1);
  max-width: 70%;
  word-wrap: break-word;
}
.message-content-me {
  background-color: rgb(255, 228, 0);
  margin: 3px 10px 3px 5px;
}
.message-content-other {
  background-color: white;
  margin: 3px 5px 3px 5px;
}
.message-date-me,
.message-date-other {
  font-size: 10px;
  color: rgb(96, 106, 112);
  padding-top: 12px;
}

.chat-profile-other {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 22px;
  padding-top: 3px;
  color: rgb(255, 228, 0);
  background-color: rgb(66, 54, 48);
  border-radius: 40%;
  margin: 10px;
}

.message-username-other {
  font-size: 12px;
  color: rgb(79, 87, 92);
}

.message-other-first-row {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.message-other-second-row {
  display: flex;
  flex-direction: row;
}

.user-join-room,
.date-change {
  text-align: center;
  color: gray;
  font-size: 12px;
  margin: 5px 0px;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 899.99px) {
}

@media (max-width: 812px) and (max-height: 414px) {
}

@media (max-width: 768px) and (max-height: 1024px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}

@media (max-height: 375px) {
}

@media (max-width: 320px) {
}

@media (max-width: 260px) {
}
